/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', sans-serif;
  background-color: #d8c4b6;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3E5879;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 69;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #F5EFE7;
}

.navbar .github-btn {
  text-decoration: none;
  color: #F5EFE7;
  font-size: 20px;
  transition: all 0.3s ease;
}

.navbar .github-btn:hover {
  font-size: 23px;
  text-decoration: wavy;
  color: #f1f1f1;
}

/* Course Info Section */
.course-info {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.course-info label {
  font-size: 18px;
}

.course-info input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* Components Section */
.components-section {
  background-color: #3E5879;
  padding: 15px;
  border-radius: 8px;
  color: #F5EFE7;
  width: fit-content;
  margin: 70px 0px 0px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-right: 50px;
}

/* Components Container */
.components-container {
  display: flex;
  flex-direction: column;
}

/* Label-Input Pair */
.label-input-pair {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.label-input-pair label {
  width: 120px;
}

.label-input-pair input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #312f2f;
}

/* Add Component Button */
.add-component {
  margin: 0px 0 20px 20px;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 83px 7px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-component:hover {
  background-color: #0056b3;
}

/* Add Course Button */
.add-course {
  margin: 20px 0 20px 20px;
  padding: 7px 312px;
  background-color: #28a745;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-course:hover {
  background-color: #218838;
}